<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from themes.potenzaglobalsolutions.com/html/guruma/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 May 2022 12:40:54 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Guruma - Online Course & Education HTML Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Act Leader</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/elearning.png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    
    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="../../css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="../../css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature) -->
    <link rel="stylesheet" href="../../css/select2/select2.css" />
    <link rel="stylesheet" href="../../css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../css/magnific-popup/magnific-popup.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="../../css/style.css" />

  </head>
  <body>

    <!--=================================
    Header -->
    <header class="header header-style-02 header-sticky">
      <nav class="navbar navbar-static-top navbar-expand-lg px-3 px-md-5">
        <div class="container-fluid position-relative px-0">
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
           <a class="navbar-brand" href="/">
            <img class="img-fluid" src="../../images/elearning.png" alt="logo">
          </a>
         
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="nav-item dropdown active">
                <a class="nav-link" href="/" >Home</a>
              </li>
              <li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">About<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu megamenu dropdown-menu-md">
                  <li>
                    <div class="row g-0">
                      <div class="col-sm-6">
                     
                        <ul class="list-unstyled mt-lg-1">
                          <li><a class="dropdown-item" href="/about"><span>About Us</span></a></li>
                          <li><a class="dropdown-item" href="/our-team"><span>Our Team</span></a></li>
                          <li><a class="dropdown-item" href="/testimonails"><span>Testimonials</span></a></li>
                          <li><a class="dropdown-item" href="/faqs"><span>FAQ's</span></a></li>
                        
                        </ul>
                      </div>
                     
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a class="nav-link" href="/training-method" >Training Methodology</a>
              </li>
               <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%  if(category){
                    for (var i = 0; i < category.length; i++) { %>
                      <li><a class="dropdown-item" href="/courses/<%= Buffer.from("categoryList="+category[i].id).toString('base64')%>"><span><%= category[i].category%></span></a></li>                   
                    <%
                    }
                  } %>                  
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a class="nav-link" href="services" >Services</a>
              </li>
               <!-- <li class="dropdown nav-item">
                <a class="nav-link" href="webinars.php" >Webinars</a>
              </li> -->
               <li class="dropdown nav-item">
                <a class="nav-link" href="/association" >Associations</a>
              </li>
               <li class="dropdown nav-item">
                <a class="nav-link" href="/cities" >Cities</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classes<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/virtual-learning"><span>Virtual Learning</span></a></li>
                  <li><a class="dropdown-item" href="/online-learning"><span>Online Learning</span></a></li>
                </ul>
              </li>             
              <li><a class="nav-link" href="/contact-us">Contact us</a></li>
            </ul>
          </div>
          <div class="woo-action">
            <ul class="list-unstyled">
              <li class="user"><a  href="/registration">Registration Page<i class="fa fa-user ps-2 text-primary"></i></a></li>
             
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--=================================
    Header -->