<%- include ('../partials/header2.ejs') %>
<style type="text/css">
  .owl-item .item img{
   height: 100px;
  }
</style>

   <!--=================================
   Inner Header -->
   <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
     <div class="container">
       <div class="row align-items-center position-relative">
         <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
           <h1 class="breadcrumb-title mb-0 text-white">About Us</h1>
         </div>
         <div class="col-md-6">
           <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
             <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a></li>
             <li class="breadcrumb-item active"><span>About Us</span></li>
           </ol>
         </div>
       </div>
     </div>
   </section>
   <!--=================================
   Inner Header -->
   
   <!--=================================
   Online Education -->
   <section class="space-ptb">
     <div class="container">
       <div class="row d-flex align-items-center">
         <div class="col-md-6 mb-4 mb-md-0">
           <img class="img-fluid" alt="" src="images/about/03.jpg">
         </div>
         <div class="col-md-6">
           <h2>Our Story</h2>
           <p class="mb-4">The American Consulting and Training Center (ACTC) started in 2008 after the founder, Fadi Hashem, successfully delivered two workshops on emotional intelligence and team building to the National Commercial Bank (NCB) in Jeddah, KSA. The L&D team at NCB asked Fadi if training services of instructor at one ofthey can collaborate with him in providing high caliber.</p><p> Fadi  was  at  that  time  an  the universities in Lebanon. He found  his purpose in training and development and mainly on soft skills. He founded ACTC which is now known as ‘ACT Leaders’. Trainers from different business, engineering and IT fields have joined the small organization, making it grow exponentially with time.</p><p> Now the organization  has a team  of  more  than  50  trainers  and consultants. It has also built strategic alliances with the American University of Beirut, that is 156 years old to offer its clients the certifications they need in different business fields.</p>
           <p>ACT Leaders is  currently very active in  the  MENA region and  it  has  not only clients but also  partners  from  different industries  including energy, chemicals,  banking,  telecommunication,  FMCG, Insurance,  medical  and  pharmaceutical.  We  have  also worked with many government entities in the Arab World on many projects.</p>
           
         </div>
       </div>
     </div>
   </section>
   <!--=================================
   Online Education -->

   <!--=================================
   Info Box -->
   <section class="space-pb">
     <div class="container">
       <div class="row">
         <div class="col-md-4 text-center mb-4 mb-md-0">
           <div class="feature-info-04">
             <i class="feature-icon flaticon-lecture fa-3x"></i>
             <h4 class="feature-title my-3">Our Purpose</h4>
             <p>ACT Leaders slogan is to ACT as
Leaders Do.
This slogan was derived from our
purpose: We are here to add value to
our partners through sharing practical
knowledge in the leadership and
management fields; thus, preparing
your employees and teams to ACT as
leaders Do! </p>

           </div>
         </div>
         <div class="col-md-4 text-center mb-4 mb-md-0">
           <div class="feature-info-04">
             <i class="feature-icon flaticon-online-learning-1 fa-3x"></i>
             <h4 class="feature-title my-3">Values</h4>
             <p>▪ Our beliefs are in alignment with our purpose that aims at makingpeople better. We  strongly believe in:<br> ▪ Integrity ▪ Honesty
▪ Respect<br>
▪ Trust
▪ Collaboration
▪ Innovation<br>
▪ Agility</p>
           </div>
         </div>
         <div class="col-md-4 text-center">
           <div class="feature-info-04">
             <i class="feature-icon flaticon-guarantee fa-3x"></i>
             <h4 class="feature-title my-3">Vision</h4>
             <p>Our vision is to build more
successful partnerships with
organizations that share with us the
same values. Therefore, achieving
the great purpose of making
people’s lives better.</p>
           <br>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--=================================
   Info Box -->
   

   
   <!--=================================
   Info Box -->
   <section class="bg-primary py-4 py-sm-5">
     <div class="container">
       <div class="row bg-primary">
         <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
           <div class="d-flex align-items-start">
             <div class="d-flex">
               <i class="flaticon-online-learning-1 fa-4x mt-2 text-white"></i>
             </div>
             <div class="ms-4">
               <h5 class="fw-5 mb-0 mt-0 text-white">100,000 online courses</h5>
               <p class="mb-0 text-white">Focus is having the unwavering attention.</p>
             </div>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
           <div class="d-flex align-items-start">
             <div class="d-flex">
               <i class="flaticon-lock fa-4x mt-2 text-white"></i>
             </div>
             <div class="ms-4">
               <h5 class="fw-5 mb-0 mt-0 text-white">Lifetime entrance</h5>
               <p class="mb-0 text-white">The best way is to develop and follow.</p>
             </div>
           </div>
         </div>
         <div class="col-md-6 col-lg-4">
           <div class="d-flex align-items-start">
             <div class="d-flex">
               <i class="flaticon-strategy fa-4x mt-2 text-white"></i>
             </div>
             <div class="ms-4">
               <h5 class="fw-5 mb-0 mt-0 text-white">Live learning</h5>
               <p class="mb-0 text-white">Start with your goals in mind and then work.</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--=================================
   Info Box -->
   <section class="space-ptb">
     <div class="container">
       <div class="row">
         <div class="col-lg-6">
           <div class="section-title mb-5">
             <h2 class="mb-2 mt-5">Core Competency</h2>
             <p>ACT Leaders’ power revolves around its human capital. Our human capital’s basic pillars are facilitators, consultants and coaches of high caliber and wide international and local quality experience, especially in the GCC countries, in diversified fields including:</p>
           </div>
           <img src="images/team/cc1.jpg" class="img-fluid mt-2">
        
         </div>
         <div class="col-lg-5 offset-lg-1 mt-4 mt-lg-0">
           <div class="position-relative">
             <img class="img-fluid rounded-sm w-100" src="images/team/cc2.jpg" alt="">
         
           </div>
         </div>
       </div>
     </div>
   </section>

   <!--=================================
   Client Logo -->
   <section class="space-ptb">
     <div class="container">
       <div class="row justify-content-center text-center">
         <div class="col-lg-12 mb-4">
           <div class="section-title">
             <h2>Trusted by companies</h2>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-12">
           <div class="owl-carousel our-clients" data-nav-arrow="false" data-items="6" data-md-items="5" data-sm-items="4" data-xs-items="3" data-xx-items="1" data-space="30" data-autoheight="true" data-autospeed="4000">
             <div class="item">
              <a > <img class="img-fluid" src="images/client/c1.jpg" alt=""></a>
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c2.png" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c3.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c4.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c5.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c6.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c7.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c8.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c9.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c10.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c11.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-fluid" src="images/client/c12.jpg" alt="">
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--=================================
   Client Logo -->

   <%- include ('../partials/footer.ejs') %>