<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Fadi Hashem</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Fadi Hashem</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/Fadi.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Fadi Hashem, Ph.D.</h2>
      

  <p>Fadi has a PhD in Administration (Leadership and Management) from Cranfield School of Management, one of the top
fifty management schools worldwide. He completed his MBA from the Lebanese American University and his BBA
from the American University of Beirut. He is a Korn Ferry 360 Certified Coach.</p><p>
In addition to his current academic position at the American University of Beirut (AUB), Dr. Hashem has been very 
active in executive education. He is a senior trainer and consultant with ACT Leaders where he has delivered thousand 
workshops for such clients as Human Resources Development Fund (HRDF/KSA), Qatar’s Government (Ministry of 
Interior, Ministry of Administrative Development, Labor, and Social Affairs; Ministry of Education), The Amiri Diwan 
of the State of Qatar, Qatar Islamic Bank (QIB), BUPA Arabia, MetLife Lebanon, Iraq’s Ministry of Health, Morgan 
International, Ingeus (UK), Chalhoub & Jamjoom Group, Norwegian People’s Aid (NPA), Saudi Telecom (STC), Sale 
Advanced Co., National Commercial Bank (NCB), Bank Al Jazira (BAJ), Saudi Investment Bank (SAIB), Chevron, Al 
Noori Group (Mekkah, KSA), HATECO (Tripoli, Lebanon), Ecole Nationale D’administration (ENA, Lebanon), among 
others. </p><p>
Dr. Hashem has worked as a consultant for BUPA Arabia, Jeddah Chamber of Commerce, Al Noori Group, and Al 
Hokair Group, among many others. </p><p>
He is certified by McKinsey & Co to deliver their executive leadership program. He has participated in several 
leadership programs in different countries in the Arab World among which Saudi Telecom “Top 1000 Leadership 
Program” and Human Resources Development Fund Leadership Program, and he has led the Lebanese American 
University Leadership Program since 2016. He has also coached hundreds of people on leadership, emotional 
intelligence and strengths. </p><p>
He is also certified by Franklin Covey Co. to deliver their programs such as The 7 habits of highly effective people, The 
5 Choices to Extraordinary Productivity, Finding Out Why: The Key to Successful Innovation, The 6 Critical Practices 
for Leading a Team, among others. </p><p>
Fadi is the founder of the American Consulting and Training Center (ACT Leaders) and is the co-founder of Leaders 
across Borders (LAB) in Beirut, a global community led by men and women empowered with leadership skills to 
navigate the challenges of a changing and complex world. </p><p>
His teaching/training interests are in leadership paradigms, building resiliency, working remotely, crisis management, 
strategic management and leadership, change management and leadership organizational behavior, employees’ 
personality, emotional intelligence, and neuro-linguistic programming.
He has many publications in eminent academic journals. He is currently working on a book entitled “The Effect of the 
Leader/Follower Interaction on the Follower’s Work/Home Balance: An exploratory study in a Lebanese context.”</p><p>


  
</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>