<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Fouad Kaddoum</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Fouad Kaddoum</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/ICF.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Fouad Kaddoum
ICF - Credentialed Coach</h2>
      

  <p>Fouad Kaddoum is a professional certified coach by the International Coaching
Federation (ICF). He also has several certificates in the business field and mainly in
marketing and advertising. He has studied Acting and Directing at the Lebanese
University.</p><p>
He worked as a regional producer with the biggest companies in the Middle East such as
P&G. Fouad produced more than 70 commercial, 12 TV programs, and several
documentaries and short films. He occupied the position of regional TV producer at Grey
Mena, one of the biggest advertising companies in the Middle East where he produced
one of the biggest campaigns for NADEC, KSA.</p><p>
Fouad started his career in sales at a young age. He has run several family businesses
such as restaurants, pubs, and retail shops. This has given him a competitive edge that
allowed him to run sales departments in many international companies such as Metlife,
Scooters, Cafcaw, Rabbit, Empower Agency, Falcon Agency, Waterframe, Al Karam
recruitment, among others.</p><p> In 2021, he handled the position of Marketing and
Communication Manager at the biggest communication company in Sierra Leone.</p><p>
Fouad is currently a senior trainer and coach with ACT Leaders where he has coached
more than 500 employees on different selling techniques and other soft skills. He has
delivered hundreds of workshops on communication skills, personal and team
motivation, negotiation skills, team bonding- Building-development, energy and priority
management, sales cycle, prospecting objection handling, sales assessment, closing the
sale, cold calling, creating script and sales KPIs.</p><p>
Through his trainings in sales, Fouad aims at: ▪ Stimulating the sales character in employees by delivering high level sales training.</p><p> ▪ Creating an active, motivated, well trained and successful sales force.</p><p>







  
</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>