<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Gaby Lahoud</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Gaby Lahoud</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/Gaby.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Gaby Lahoud, CMA, CSCA, CFA, 
PMP, MBA</h2>
      

  <p>Gaby earned multiple certifications such as the CMA (Certified Management Accountant), CFA
(Chartered Financial Analyst), CSCA (Certified in Strategy and Competitive Analysis), and PMP
(Project Management Professional); he holds a BS in Business Accounting and an MBA in
Banking & Finance. He is currently a PhD candidate in Strategic Management.</p><p>
Gaby held multiple positions with IMA (Institute of Management Accountants), the institute that
issues the CMA (Certified Management Accountant) certificate globally with more than 350
chapters in more than 150 countries. Positions such as a member of IMA Global board of
directors (USA), member of IMA Planning & Development Global Committee, member of the
IMA Member Relations Global Committee, and Chairman of IMA Member Value & Enablement
Global Subcommittee.</p><p>
He founded the Lebanon Chapter along with his founding board to add Lebanon to the IMA
professional map, to create awareness of the essential role that certified professionals play in
shaping the country’s economy and knowledge standards, and to preserve the interests of CMA.
Also was a member of the board of directors within one of Lebanon's top universities.
Gaby is the founder and managing partner of B Certified Pro LLC (a professional training and
coaching institution) and Serenity Advisors LLC (a strategic and financial advisory firm) with
headquarters located in the USA with services extended globally. B Certified has a strategic
partnership with ACT Leaders in the MENA region.</p><p>
He enjoys 20+ years of experience in teaching training and consulting in the fields of finance,
accounting, education, and public speaking across multiple industries catering to international and
regional markets. He has trained thousands of employees in the Middle East region and with
Fortune 500 companies on different accounting and finance topics.
His passion to explore new cultures and support emerging markets to thrive led him to travel with
IMA to countries around the globe guiding passionate people through his public speaking skills to
advance their education and improve their status quo.</p><p>






  
</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>