<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Jessy Rahal</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Jessy Rahal</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/Jessy.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Jessy Rahal, PhD</h2>
      

  <p>Jessy Rahal is currently pursuing her PHD in Leadership/Human Resources Management at one of
the best management schools worldwide. She holds a Master degree in Leadership and Human
Resources Management from USJ - Lebanon. She has many certifications including PHR, SPHRi &
SHRM-SCP. She is also a certified job evaluator by Korn Ferry/Hay Group and a certified assessor
on personality and ability assessments by SHL & British Psychological Society.</p><p>
Dr. Rahal has worked in various Lebanese industries in the trading, construction, public sector,
banking and health care. She has over 15 years of experience in Human Resources Management with
significant expertise in Organization Structuring, Talent Management Strategies, Talent Engagement
and Retention, Strategy and Operating model development in the Lebanese market and regionally.
She collaborated with various international consultancies including Price Waterhouse Coopers - PwC
and Korn Ferry/Hay Group in relation to Human Capital Management, Succession Planning, Total
Rewards, Performance Management and other HR related topics.</p>
  <p>Jessy is also an academician where she has been teaching Management and Human Resources
courses for the past 10 years at top universities in Lebanon. She is also a practitioner in the leadership
and HRM fields. She is currently working as a senior consultant, coach and trainer in the leadership
and HRM fields with ACT Leaders.</p>
  <p>Dr. Rahal has launched in collaboration with ACT Leaders’ team several assessment centers and
talent development programs and initiatives in the Gulf Region. The clients include Al Hokair Group,
Al Noori Group, Jeddah Chamber of Commerce and Industry, among many others. She also
delivered a wide range of soft skills’ workshops for leaders, supervisors and employees such as
HRM, strategic management, negotiation skills, emotional intelligence, leadership, communication,
presentation skills, and time management. She has also coached several executives on transformation
and adaptive leadership.</p><p>
Her current research focuses on digitization and mainly the artificial intelligence dimension and its
impact on the workplace. She has chaired several sessions in conferences in Europe and she has
published several articles on digital transformation, effect of digitization on HRM and digital
leadership.</p><p>


</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>