<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Marwan Wahbi</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Marwan Wahbi</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/Marwan.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Marwan Wahbi, DBA, PCM, CDMP</h2>
      

  <p>Dr. Marwan Wahbi holds a doctorate in business administration (DBA) from Grenoble Ecole de
Management (GEM). He completed his MBA from the Lebanese American University, and his BS
from the American University of Beirut, Lebanon. He also holds several industry certificates from
the American Marketing Association, Digital Marketing Institute, Google Digital Garage, Meta
Blueprint, Hootsuite Academy, and HubSpot Academy.</p><p>
Marwan is a university professor, professional trainer, and certified marketing consultant. He is
currently a Senior Associate with ACT Leaders where he has delivered several workshops to the
healthcare, banking, retail, and FMCG industries. These workshops include selling and sales
management, customer service, communication skills, strategic marketing, branding strategies,
digital marketing, consumer psychology, integrated marketing communications, among others.</p><p>
Dr. Wahbi has a unique combination of theory and business applications using a wide variety of
coaching and training tools. He has a solid knowledge combined with the ability to bring training
with excitement, fun, and creativity. He is known for being a motivational speaker who engages
professionals in active learning and real-life applications through interactive activities using a
collaborative and energetic environment. People describe him as a self-motivator, dynamic, and
highly personable individual.</p><p>




  
</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>