<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Mondher Bellalah</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Mondher Bellalah</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/mondheer.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Mondher Bellalah, Ph.D</h2>
      

  <p>Dr. Mondher Bellalah has a Ph.D. in “Sciences de Gestion” from University of Paris Dauphine and 
HEC Paris, France. He also has an MBA in Financial Markets and Investments from University of 
Paris IX Dauphine and HEC Paris. </p><p>
With more than 30 years of experience at big financial institutions in Europe and the Arab world, 
Mondher adds a different flavor to training and consulting in finance and accounting. He has an 
impressive expertise in all areas of risk management. Also, he has a significant track record in 
investments, value creation, risk analysis and strategy, hedging and implementing value drivers.
Dr. Bellalah has several achievements in the Banking & Finance World. As a CRO at United Arab 
Bank, Sharjah, he managed all types of risks and implements Board Strategy and risk appetite. He has 
also been successfully managing all types of core and non-core Risks at Bank Level, hence creating 
additional value to shareholders and bringing the bank to the next level. </p><p>
Mondher has taking efficient decisions with KPI to improve the risk trade-off in: Retail Credit, 
Wholesale Banking, Private Banking, Asset Management, ALM, Basel III, IFRS9, ICAAP, VAT, and IT 
& Risk Security.</p><p>
Dr. Mondher is currently a Senior Associate with ACT Leaders where has delivered several workshops 
on Operational IT Risk, Implementing ERM Risk Management Functions, Basel II &III, LCR/NSFR, 
ALM, ICCAP, Financial and Business associated Risks, among many others. 
He has many publications in refereed journals such as the Journal of Risk and Economic Modelling. He 
has two books on Islamic Banking and Derivatives and Exotic Derivatives.</p><p>




  
</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>