<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Nada Salem</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Nada Salem</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/Nada Salem.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Nada Salem, MSc.</h2>
      

  <p>Nada Salem has a Master Degree in International Affairs from INSEEC Bordeaux – France, one of the
leading business schools in France and currently lives in Lebanon.
She is a high performing, strategic thinking professional with a proven record of success in Business
Acumen and Human Resources Development with more than 25 years of experience as HR Professional
in Public, Private sectors (Mainly Multinational Enterprises) and multilateral organizations.</p>
  <p>Her international experience positioned her as a strategic business and human resources partner with
excellent leadership, communication and partnering skills and proved that Nada has the capacity to
transform the Teams’ effectiveness through recruitment, talent acquisition and ultimately, performance
through employee relations, performance Management, strategic planning and succession planning.</p>
  <p>Nada is currently working as senior consultant and trainer with ACT Leaders. She has worked on several
projects in succession planning, capacity building system, recruitment process, job descriptions/analysis,
training plan process, performance appraisal system, among others. She has also delivered soft skills
training on teambuilding, HR Management, Performance Management, Change Management for NCB
Bank – Jeddah – Saudi Arabia, Ministry of Trade – Riyadh, Jeddah, and Khobar – Saudi Arabia,
MegaPharma Plus – Erbil – Iraq, ENA – Lebanon (Ecole Nationale des Affaires).</p><p>
Prior to her current responsibilities, Nada occupied several Senior HR positions in several Multinational
Companies: Regional Senior HR Specialist in ITS (Telecommunication Company) for Africa and MENA
Region, Regional HR Manager in SETS/DELL for MENA Region where she demonstrated her ability in
collaborating with senior management to conduct human resources and management strategies in order
to support the organization’s projects goals and objectives.</p><p>
In addition to her consultancy, training and coaching experiences, Nada has a rich academic experience
within top ranked Universities in Lebanon where she has delivered management and human resources
courses for Bachelor and Master Degrees.</p>

</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>