<%- include ('../partials/header2.ejs') %>
 <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-80" style="background-image: url('images/bg/11.jpg');">
        <div class="container">
          <div class="row align-items-center  pb-0 position-relative">
            <div class="col-md-12 text-center mb-2 mb-md-0">
              <h1 class="mb-0 text-white display-1 fw-5">Online Classes</h1>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Inner Header --> 
    
      
      <!--=================================
      News Details -->
      <section class="space-ptb course-details">
        <div class="container">
          <div class="row">
           <div class="col-lg-4 col-sm-4 mb-4 pb-2">
              <div class="event">
                <div class="event-img">
                  <img class="img-fluid" src="images/event/01.jpg" alt="">
                </div>
                <div class="event-info">
                  <h6 class="event-title mb-2"><a href="#">Course Name </a></h6>
                  <ul class="meta-event flex-column">
                    <li><i class="fas fa-calendar"></i>From Date - To Date ,Year</li>
                    <li><i class="far fa-flag"></i>Country</li>
                    <li><i class="far fa-bookmark "></i>Virtual or classes</li>
                    <li><i class="fa fa-map-signs"></i>Association</li>
                    
                  </ul>
                  
                </div>
                <a class="btn  btn-sm btn-primary rounded-0 w-100" href="#">Register Now</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      News Details -->
<%- include ('../partials/footer.ejs') %>