<%- include ('../partials/header2.ejs') %>
<style type="text/css">
  .event-img img{
    height: 250px;
    width: 100%;
  }
</style>
    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Our Team</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a></li>
              <li class="breadcrumb-item active"><span>Our Team</span></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Inner Header -->
    
<section class="space-ptb course-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Nada Salem.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/nada-salem">Nada Salem, MSc.</a></h6>
                <p>Nada Salem has a Master Degree in International Affairs from INSEEC Bordeaux – France.</p>
                <a class="btn btn-link" href="/nada-salem">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/soha.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/soha">Soha El Achi, DBA</a></h6>
                <p>Soha El Achi is an Assistant Professor in Human Resources at the Arab Open
University.</p>
                <a class="btn btn-link" href="/soha">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Nardine.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/nardine">Nardine Al Attrache, Ph.D.</a></h6>
                <p>Nardine Al Attrache is an Assistant Professor at ESA Business School and the
Antonine University.</p>
                <a class="btn btn-link" href="/nardine">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Jessy.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/jessy">Jessy Rahal, PhD 
Candidate in Leadership 
and Management</a></h6>
                <br>
                <a class="btn btn-link" href="/jessy">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Ghena.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/ghena">Ghena Dada, MSc.</a></h6>
                <p>Ghena Dada holds a Master of Science in Management from a top
university in Lebanon.</p>
                <a class="btn btn-link" href="/ghena">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Rima.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/rima">Rima Helal, DBA</a></h6>
                <p>Nada Salem has a Master Degree in International Affairs from INSEEC Bordeaux – France.</p>
                <a class="btn btn-link" href="/rima">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Souad.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/souad">Souad Daher, MBA</a></h6>
                <p>Ms. Souad Daher has an MBA in Finance and a BS in Banking and Finance.</p>
                <a class="btn btn-link" href="/souad">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Racha.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/racha">Racha Ghayad, Ph.D.</a></h6>
                <p>Racha earned her Ph.D. in Business Administration (Finance and Banking).</p>
                <a class="btn btn-link" href="/racha">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Fadi.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/fadi">Fadi Hashem, Ph.D.</a></h6>
                <p>Fadi has a PhD in Administration from Cranfield School of Management.</p>
                <a class="btn btn-link" href="/fadi">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Zaher.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/zaher">Zaher N. Charara, DBA</a></h6>
                <p>Zaher Charara has a Doctorate of Business Administration (DBA) in Supply Chain Management.</p>
                <a class="btn btn-link" href="/zaher">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/ENG.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/eng">ENG Mohamed El Majzoub, EMBA</a></h6>
                <p>Mohamed El Majzoub has an EMBA and MBA with emphasis in management.</p>
                <a class="btn btn-link" href="/eng">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Marwan.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/marwan">Marwan Wahbi, DBA, PCM, CDMP</a></h6>
                <p>Dr. Marwan Wahbi holds a doctorate in business administration (DBA).</p>
                <a class="btn btn-link" href="/marwan">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/mondheer.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/mondheer">Mondher Bellalah, Ph.D.</a></h6>
                <p>Dr. Mondher Bellalah has a Ph.D. in “Sciences de Gestion” from University of Paris Dauphine.</p>
                <a class="btn btn-link" href="/mondheer">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Roland.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/roland">ROLAND Y. ABI NAJEM, MBA</a></h6>
                <p>Roland Abi Najem holds a Master’s in Business Administration (M.B.A.).</p>
                <a class="btn btn-link" href="/roland">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Gaby.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/gaby">Gaby Lahoud, CMA, CSCA, CFA, 
PMP, MBA</a></h6>
                <p>Gaby earned multiple certifications such as the CMA .</p>
                <a class="btn btn-link" href="/gaby">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Philip.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/philip">Philip Abou Jaoude, EMBA</a></h6>
                <p>Philip Abou Jaoude holds an international Executive MBA from the Universities of Paris Dauphine.</p>
                <a class="btn btn-link" href="/philip">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Wael.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/wael">WAEL MOUKAHAL, EMBA</a></h6>
                <p>Wael Moukahal has an Executive MBA (EMBA) Degree from the Lebanese American
University.</p>
                <a class="btn btn-link" href="/wael">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Samer.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/samer">Samer T. Dayye, EMBA</a></h6>
                <p>Mr. Samer Dayye has a an EMBA degree from the Lebanese American University.</p>
                <a class="btn btn-link" href="/samer">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/Georges.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/georges">Georges EL Khoury, M.Sc.</a></h6>
                <p>Georges EL Khoury has an M.Sc. degree and a BA degree from one of the
top universities.</p>
                <a class="btn btn-link" href="/georges">Read More</a>
              </div>
            </div>
          </div><!----->
              <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <div class="event h-100">
              <div class="event-img">
                <img class="img-fluid " src="images/team/ICF.jpg" alt="" >
              </div>
              <div class="event-info">
                <h6 class="event-title"><a href="/fouad">Fouad Kaddoum
ICF - Credentialed Coach</a></h6>
                <p>Fouad Kaddoum is a professional certified coach by the  (ICF).</p>
                <a class="btn btn-link" href="/fouad">Read More</a>
              </div>
            </div>
          </div><!----->
       
        </div>
      </div>
    </section>
    <%- include ('../partials/footer.ejs') %>