<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Philip Abou Jaoude</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Philip Abou Jaoude</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/Philip.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Philip Abou Jaoude, EMBA</h2>
      

  <p>Philip Abou Jaoude holds an international Executive MBA from the Universities of Paris Dauphine &
Sorbonne. He is a Certified Trainer from the Institute of Leadership & Management in London-UK. He
is a part time instructor at the Lebanese American University in Beirut.</p><p>
Philip specializes in the design and delivery of training programs, with high level of expertise in
leadership and interpersonal traits. He also consults in programs pertaining to the management of
training units, establishing and executing effective succession planning programs, creating Hi-Potential
Employee Career Development Plans & conducting TNAs.</p><p>
He has filled many tenures in the training profession. He was the Training & Recruiting department
head at Boecker and at Allianz Group where he designed and delivered several workshops on
management and sales.</p><p>
Philip is currently a senior Associate with ACT Leaders where he has delivered several workshops to
eminent organizations in the Arab World including: Pharmamed, Atlas Holding, Megapharma Plus,
Saudi Electricity Company, Chevron, SABIC, Hadid, Qatar Telecom, Saudi Telecom Company (STC),
Sale CO, Al Foursan Travel, Saudi Investment Bank, Riyadh Bank, King Fahd University Hospital,
ITCO for wood Industry, Majid Al Futtaim, SAS Jeddah, among others.</p><p>
The workshops that he has delivered include: External Customers – Sales Guru, The Psychology of
Sales, Managing your Sales People, Negotiation Techniques, Leadership Development, Assertiveness
and Negotiation Skills, Understanding and Improving Communications in the Workplace, Telephone
Skills for Admin Workers and Call Center Professionals, Interpersonal Skills and Conflict
Management, Time Management for professionals, Stress & Anger Management, Gaining the most out
of Teams - Team Management Principles and Applications, Customer Service Excellence, Problem
Solving and Decision Making, Supervisory Essential Tools of Management, Emotional and Social
Intelligence, Business Etiquette, Planning and Delivering Results, Performance Management,
Motivational Theories and Applications into the workplace, Conducting Training Needs Analysis and
General Training Management, Project Management Fundamentals, Train the trainer, Job Description
& Job Analysis, among others.</p><p>







  
</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>