<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Rima Helal</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Rima Helal</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/Rima.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Rima Helal, DBA.</h2>
      

  <p>Rima has a DBA in Business Administration specializing in Ethical Leadership
from the Swiss Business School (SBS) in Zurich, Switzerland which is one of
the best management schools worldwide. She completed her MBA and BBA
from the Lebanese American University.</p><p>
In addition to her current work as a Visiting Researcher at the CRED Research
Center at the ESA Business School, Dr. Rima maintains her professional career
in corporate governance. With over 18 years of experience in the telecom field,
she assumed various roles in internal audit, ISO standards, risk management
and corporate controls. She currently holds the position of Operational Controls
and Contract Management Unit Manager at MIC2 Telecom in Beirut,
Lebanon</p>
  <p>Dr. Rima also works with ACT Leaders as a senior trainer/consultant where she
has delivered several workshops on business ethics, ethical and responsible
leadership, ethical dilemmas, ethical leadership and local cultures, endorsing
accountability, developing ethical leaders, institutionalization of ethics, ethical
behavior, and combatting corruption and bribery. She has been also serving as a
consultant in areas related to development of code of ethics, handbooks for
employees amongst many others.</p><p>
Relevantly, she is currently involved in various research streams related to 
ethical leadership such as: Endorsing ethical leadership during crisis, 
Qualitative investigation of Ethical Leadership in emerging markets, and 
inevitability of institutionalization of ethics in emerging markets and its 
relationship with ethical leadership. She authors and co-authors several research 
articles related to her research interests as well as in informal networks and 
cultural differences.</p>
  
</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>