<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Soha El Achi</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Soha El Achi</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/soha.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Soha El Achi, DBA</h2>
      

  <p>Soha El Achi is an Assistant Professor in Human Resources at the Arab Open
University, Lebanon. She received her Doctorate in Business Administration
from Grenoble School of Management which holds a triple accreditation -
AACSB, EQUIS and AMBA. Her Maters of Science in International
Business is from SKEMA- European School of Business Management, Nice,
France.</p>
  <p>Her current research fields of interest are mainly related but not restricted to
human resources and marketing: more precisely human resource
development, organizational behavior in addition to leadership,
entrepreneurship, employer branding and consumer behavior.
In addition to her long experience in the academic field, Dr. El Achi is a 
certified trainer in Entrepreneurship and entrepreneurial promotion. The 
certificate was obtained from LEUPHANA University, Germany after her 
participation to the Training of trainer (TOT) workshop organized by Dr. 
Micheal Gielnik, professor of HR Development and Mr. Benjamin 
Scharweit, the TOT project leader, from LEUPHANA University of 
Luneburg.</p>
  <p>Dr. Al Achi has been working with ACT Leaders since 2012 where she has
delivered many workshops in leadership, strategic management, marketing,
entrepreneurial promotion, entrepreneurial skills and human resources
management in the Middle East Region. She is also a full timer at the Arab
Open University for the last 14 years where she is the chair and the
coordinator of Marketing and Human Resource courses.</p><p>
Soha has organized many seminars and round tables at the Arab Open 
universities for students, entrepreneurs and professionals among which; the 
round table entitled “Employer Branding: Strategy for improving Employer 
Attractiveness”, conference on “Consumer rights and duties” and the 
symposium on “The emergence of Coaching in Lebanon and its effect of 
Human Resources”.</p><p>


</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>