<%- include ('../partials/header2.ejs') %>
 <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
              <h1 class="breadcrumb-title mb-0 text-white">Training Methodology</h1>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a></li>
                <li class="breadcrumb-item active"><span>Training Methodology</span></li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Inner Header -->
      
   <section class="space-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-title mb-5">
                <h2 class="mb-4">Don’t change your learning just change a way of learning</h2>
                <h4 class="mb-4 fw-normal">Everything you need to build an amazing online education responsive website.</h4>
                <p>We’ve designed a culture that allows our stewards to assimilate with our clients and bring the best of who we are to your business. Our culture drives our – and more importantly your success. Our results solution combines capability building. and state-of-the-art diagnostic and analytic tools so you can continually change.</p>
              </div>
              <div class="row">
                <div class="col-sm-6 mb-4 pb-2">
                  <div class="d-flex align-items-center bg-white p-4 box-shadow rounded-sm">
                    <i class="flaticon-hand fa-2x text-primary me-3"></i>
                    <p class="fw-bold text-dark mb-0">Inspirational Professor speech </p>
                  </div>
                </div>
                <div class="col-sm-6 mb-4 pb-2">
                  <div class="d-flex align-items-center p-4 bg-white box-shadow rounded-sm">
                    <i class="flaticon-student fa-2x text-primary me-3"></i>
                    <p class="fw-bold text-dark mb-0">Expert Leadership definition </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 mb-4 mb-sm-0 pb-2 pb-sm-0">
                  <div class="d-flex align-items-center p-4 bg-white box-shadow rounded-sm">
                    <i class="flaticon-vector fa-2x text-primary me-3"></i>
                    <p class="fw-bold text-dark mb-0">Supportive Parents &amp; Friends </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="d-flex align-items-center p-4 bg-white box-shadow rounded-sm">
                    <i class="flaticon-online-learning-3 fa-2x text-primary me-3"></i>
                    <p class="fw-bold text-dark mb-0">Developing Academically Education </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1 mt-4 mt-lg-0">
              <div class="position-relative">
                <img class="img-fluid rounded-sm w-100" src="images/about/04.jpg" alt="">
                <div class="bg-dark p-4 d-inline-block rounded-sm text-center w-50 position-absolute bottom-0 left-0 mb-lg-5 ms-lg-n5">
                  <h2 class="text-white fw-bold display-4">2k<sup>+</sup></h2>
                  <span class="text-white lead fw-bold">Experts to teach you </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <section class="space-ptb">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 text-center">
              <div class="section-title">
                <h2>Begin your new skill in easy steps</h2>
                <p class="mb-0">We know this in our gut, but what can we do about it? How can we motivate ourselves? One of the most difficult aspects of achieving success.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
              <div class="feature-step text-center">
                <div class="feature-step-icon">
                  <i class="flaticon-register fa-3x rounded-sm bg-primary"></i>
                  <img class="d-md-block d-none" src="images/feature-info/arrow-03.png" alt="">
                </div>
                <h6 class="mt-4">Create Account</h6>
                <p class="mb-0">What is your temptation that is standing in your way to greatness? What can you do to form.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
              <div class="feature-step text-center">
                <div class="feature-step-icon">
                  <i class="flaticon-online-learning-3 fa-3x rounded-sm bg-primary"></i>
                  <img class="d-lg-block d-none" src="images/feature-info/arrow-03.png" alt="">
                </div>
                <h6 class="mt-4">Choose course</h6>
                <p class="mb-0">In the majority of cases, the cause is a well-meaning but unskilled or un-thinking parent.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <div class="feature-step text-center">
                <div class="feature-step-icon">
                  <i class="flaticon-course fa-3x rounded-sm bg-primary"></i>
                  <img class="d-md-block d-none" src="images/feature-info/arrow-03.png" alt="">
                </div>
                <h6 class="mt-4">Hands-On Learning</h6>
                <p class="mb-0">The price is something not necessarily defined as financial. It could be time, effort, sacrifice.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="feature-step text-center">
                <div class="feature-step-icon">
                  <i class="flaticon-graduation-cap fa-4x rounded-sm bg-primary"></i>
                </div>
                <h6 class="mt-4">Achieve Goals</h6>
                <p class="mb-0">It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="space-pt">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8 text-center">
                <div class="section-title">
                  <h2>How It Works?</h2>
                  <p class="mb-0">We know this in our gut, but what can we do about it? How can we motivate ourselves? One of the most difficult aspects of achieving success is staying motivated over the long haul.</p>
                </div>
              </div>
            </div>
            <div class="row pb-4">
              <div class="col-sm-4 mb-4 mb-sm-0">
                <div class="feature-info text-center">
                  <div class="feature-info-icon">
                    <i class="flaticon-register fa-4x text-white bg-primary rounded-circle"></i>
                    <img class="d-lg-block d-none" src="images/feature-info/arrow-01.png" alt="">
                  </div>
                  <h4 class="my-4">Register</h4>
                  <p class="mb-0">One of the main areas that I work on with my clients is shedding these non-supportive beliefs and replacing them with beliefs that will help their desires.</p>
                </div>
              </div>
              <div class="col-sm-4 mb-4 mb-sm-0">
                <div class="feature-info text-center">
                  <div class="feature-info-icon">
                    <i class="flaticon-add-user fa-4x text-white bg-primary rounded-circle"></i>
                    <img class="d-lg-block d-none" src="images/feature-info/arrow-02.png" alt="">
                  </div>
                  <h4 class="my-4">Create Account</h4>
                  <p class="mb-0">The price is something not necessarily defined as financial. It could be time, effort, sacrifice, money or perhaps, something else.</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="feature-info text-center">
                  <div class="feature-info-icon">
                    <i class="flaticon-edit fa-4x text-white bg-primary rounded-circle"></i>
                  </div>
                  <h4 class="my-4">Hands-On Learning</h4>
                  <p class="mb-0">It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
<%- include ('../partials/footer.ejs') %>