<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">WAEL MOUKAHAL</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>WAEL MOUKAHAL</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/Wael.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>WAEL MOUKAHAL, EMBA</h2>
      

  <p>Wael Moukahal has an Executive MBA (EMBA) Degree from the Lebanese American
University, one of the top universities in the Middle East. He also has a degree in Law from
Beirut Arab University and other certifications.
He is currently a senior organization development consultant with ACT Leaders. He has an
extensive background in organizational effectiveness and human resources consulting.
Throughout his career, his focus has been on the design and development of innovative
organizational structures that anticipate emerging business needs and enhance an organization’s
ability to realize its purpose, vision and strategy.</p><p>
His career spans over 20 years of consulting services and project management in organization
development and human resources; thus, giving him deep insight into all strategic HR related
functions.</p><p>
Wael has worked with leading private and public sector organizations across the Middle East, in
a wide range of industries including telecommunications, manufacturing, retail, healthcare,
finance and insurance. His accomplishments include leading and implementing consultancy
projects on retention plans, international and governmental accreditations, educational /training
& competency frameworks, HR processes’ optimization and audit, manpower planning and
utilization, succession planning, performance management, HR Policies and Procedures, job
description, job evaluation, etc...</p><p>
He has delivered hundreds of workshops in leadership, human resources management, emotional
intelligence, managerial skills, among many others.</p><p>







  
</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>