<%- include ('../partials/header2.ejs') %>

    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('images/bg/03.jpg');">
      <div class="container position-relative">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Zaher N. Charara</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active"><span>Our Team</span>
          </li>
          <li class="breadcrumb-item active"><span>Zaher N. Charara</span>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>
<!--=================================
Inner Header -->

<!--=================================
Teacher Detail -->
<section class="space-pb teacher-detail">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
      <img class="img-fluid" src="images/team/Zaher.jpg" alt="">
      <div class="border border-top-0 py-4 py-sm-5">
        <ul class="ps-0 mb-0">
          <li class="d-flex align-items-center px-4 mb-4"> <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">support@onlinecourses.com</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">(007) 123 456 7890</span>
          </li>
          <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">online.courses</span>
          </li>
         <!--  <li class="d-flex align-items-center px-4 mb-4">
            <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
          </li>
          <li class="d-flex align-items-center px-4">
            <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
            <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>
          </li> -->
        </ul>
      </div>
   
    </div>
    <div class="col-md-7 col-xl-8 space-sm-pt">
      <h2>Zaher N. Charara, DBA.</h2>
      

  <p>Zaher Charara has a Doctorate of Business Administration (DBA) in Supply Chain Management
and Business Strategy from Grenoble School of Management in France. He obtained his Master of
Science from the University of Florida, his MBA from the University of California at Irvine, and
his BS from the American University of Beirut. He obtained presidential recognition for
outstanding contribution to the University of Florida. He is a ‘Certified Supply Chain
Professional’ (CSCP) from APICS Association in Chicago, USA.</p><p>

Dr. Charara gained corporate experience for ten years in USA where he worked with Fortune 100
companies. He then taught at leading universities in Lebanon the following topics (MBA courses
and senior undergraduate courses): Marketing Management, Business Strategy, Supply Chain
Management, and Operations Management. He chaired courses at the Arab Open University and
provided training to entrepreneurs in designing business plans and in marketing and business
strategy. Dr. Charara also organized conferences in supply chain management by inviting speakers
from corporations to discuss current issues in the field.</p><p>

He is currently providing training with ACT Leaders in the MENA region to big corporations in
Lebanon, KSA, Kuwait and Iraq. He provided procurement and supply chain management
training at ‘Ciment de Sibline’ Company in Lebanon, and provided training workshops at the
LIBNOR division of the Lebanese Ministry of Industry to the following companies: Crown Flour
Mills, MasterPak, INDEVCO, and Cimenterie Nationale. He also delivered training to managers
and professionals in Kuwait from the banking and consumer products industries on digital strategy
and digital operations and transformation of Business with AI. Zaher also provided training in
Iraq, in warehousing and supply chain management, to Lukoil Oil & Gas Company professionals.</p><p>

He also authored and delivered a workshop in Business Strategy and Strategic Management at
emLyon business school in Casablanca, Morocco (a top 50 business school internationally) to
their MBA and MS students; and a course in Project Management to MBA students at Lebanese
German University</p><p>



  
</div>
</div>
</section>
<!--=================================
Teacher Detail -->
<%- include ('../partials/footer.ejs') %>